{% extends "surveys/base.html" %}
{% load bootstrap5 %}
{% block content %}

<h1>{{question.text}}</h1>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
<p>Selecione uma opção:</p>
<ul class="mt-3">
    <form method="post" action="{% url 'question_vote' question.id %}">
        {% csrf_token %}
        {% for field in form %}
        <!-- Exibe apenas o widget (campo), sem a label -->
        {{ field }}
        {% endfor %}
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="submit" class="btn btn-outline-primary mt-3">Votar</button>
        </div>
    </form>
</ul>
</div>
</div>
</div>
<div class="col-md-6">
    <div class="card">
        <div class="card-body">
<h1>Resultados</h1>
<p>Total: {{question.total_votes}} votos</p>
<ul>
    {% for option in question.option_set.all %}
        <li>{{ option.text}}: {{ option.vote_set.count}}</li>
        {% endfor %}
</ul>
</div>
</div>
</div>
</div>
{% endblock %}